:root {
  --image-hight: 17rem;
  --avatar-size: 2.5rem;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  & > :nth-child(n) {
    margin-bottom: 1.5rem;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  :global {
    .top-info-wrapper {
      min-height: 25rem;
      display: flex;
      & .info-image-wrapper {
        width: var(--image-hight);
        height: var(--image-hight);
        margin-right: 2rem;
        & .image {
          width: 100%;
          height: 100%;
        }
      }
      & .info {
        flex: 1;
        & > :nth-child(n) {
          margin-bottom: 1rem;
        }
        & > :last-child {
          margin-bottom: 0;
        }
        & .creation {
          display: flex;
          align-items: center;
          & .avatar {
            height: var(--avatar-size);
            width: var(--avatar-size);
            margin-right: 1rem;
          }
          & .creator {
            margin-right: 1.1rem;
            color: var(--red);
          }
          & .publish-date {
            color: lightgray;
          }
        }
      }
      & .intro {
        & .intro-title {
          font-size: 1.1rem;
          margin-bottom: 0.6rem;
        }
        & .intro-passage {
          max-width: 60rem;
          & .intro-row {
            text-indent: 1rem;
            height: 2rem;
            line-height: 2rem;
          }
        }
      }
    }
    .middle-list-wrapper {
      & .title {
        position: relative;
        margin-bottom: 0.5rem;
        & .list-num {
          margin-left: 0.7rem;
          font-size: 0.9rem;
        }
        & .play-count {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1rem;
          & .count-num {
            color: var(--red);
          }
        }
      }
      & .songs-wrapper {
        & > :nth-child(n) {
          margin-bottom: 0.3rem;
        }
        & > :last-child {
          margin: 0;
        }
      }
    }
  }
}