.history-wrapper {
  display: flex;
  align-content: space-between;
  align-items: center;
  width: 3.6rem;
  height: 1.3rem;
  margin-right: 2.1rem;
  & :nth-child(n) {
    flex: 1;
    font-size: 1.8rem;
    color: #b7b7b7;
  }
  :global {
    .right-icon {
      text-align: right;
    }
  }
}