:root {
  --image-hight: 17rem;
  --avatar-size: 2.5rem;
}

.list-wrapper {
  padding: 4rem 0 2rem;
  & > :nth-child(n) {
    margin-bottom: 1.5rem;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}