:root {
  --avatar-height: 4rem;
}
.comment-wrapper {
  display: flex;
  :global {
    .avatar {
      height: var(--avatar-height);
      width: var(--avatar-height);
      margin-right: 1.2rem;
      border-radius: 50%;
    }
    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & :nth-child(n) {
        margin-bottom: 1rem;
      }
      .user-name {
        color: var(--red);
        font-size: 1.2rem;
      }
      .content {
        font-size: 1.1rem;
        line-height: 1.2rem;
      }
      .time {
        font-size: 0.9rem;
        color: lightgray;
      }
    }
  }
}