:root {
  --top-margin: 0.6rem;
}
.filter {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  & > :nth-child(n) {
    display: flex;
    margin-bottom: 1rem;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  :global {
    .filter-item-title {
      margin: var(--top-margin) 0.5rem 0 0;
      &::before {
        margin: 0 0.3rem;
      }
    }
    .filter-item-children {
      display: flex;
      flex-wrap: wrap;
      max-width: 32rem;
      .filter-tag {
        margin: 0 0.3rem 0.3rem 0;
        .filter-link {
          display: block;
          box-sizing: border-box;
          padding: var(--top-margin) 0.8rem;
          border-radius: 0.2rem;
          transition: background 0.3s ease, color 0.3s ease;
          &:hover {
            color: var(--red);
          }
          &.active {
            background: var(--light);
            color: var(--red);
          }
        }
      }
      & :last-child {
        margin-right: 0;
      }
    }
  }
}
