.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.1rem;
  margin: 1.5rem 0;
  :global {
    .item-link {
      display: block;
      padding: 0.4rem 0.8rem;
      &.active {
        border-radius: 0.2rem;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  & > :nth-child(n) {
    box-sizing: border-box;
    width: 5.8rem;
    margin-right: 1.3rem;
    text-align: center;
  }
  & > :last-child {
    margin-right: 0;
  }
}

.rank-view-wrapper {
  
}

.song-list-wrapper {
  
}