.song-wrapper {
  display: flex;
  align-items: center;
  height: 3.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  font-size: 1.2rem;
  font-weight: 100;
  :global {
    .song-image {
      height: 2.1rem;
      width: 2.1rem;
      margin: 0 1.4rem 0 0.4rem;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .song-index {
      width: 3rem;
      margin-right: 0.3rem;
    }
    .song-add-icon {
      margin-right: 2.5rem;
    }
    .song-name, .song-singer, .song-album {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .song-name {
      flex: 1;
    }
    .song-time {
      width: 8rem;
    }
    .song-singer {
      width: 10rem;
      margin-right: 2rem;
    }
    .song-album {
      width: 12rem;
    }
    .hot-num {
      .icon-hook {
        margin-right: 0.5rem;
      }
    }
  }
}