.newest-list-wrapper {
  :global {
    .filter-type {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 1rem;
    }
    .newest-album-list {
      display: flex;
      flex-wrap: wrap;
      & > :nth-child(n) {
        margin-bottom: 2.5rem;
      }
    }
  }
}