.newest-list-wrapper {
  :global {
    .filter-type {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 1rem;
    }
    .newest-album-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > :nth-child(n) {
        margin: 0 5rem 2rem 0;
      }
    }
  }
}