:root {
  font-size: 12px;
  @media (max-width: 755px) {
    font-size: 10px;
  }
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:global {
  #app {
    display: flex;
    height: 100%;
    flex-direction: column;
    & .content-container {
      flex: 1;
      display: flex;
      align-content: space-around;
      align-items: normal;
      background: #000;
      & .sidebar-control {
        width: 17rem;
      }
      & .views-wrapper {
        flex: 1;
        margin: 0 1.2rem;
        padding: 0 0.6rem 1.5rem 0.6rem;
        overflow-y: auto;
      }
      & > :nth-child(2) {
        background: #101515;
        color: #fff;
      }
    }
  }
}