:root {
  --rem-font-size: 12px;
  font-size: var(--rem-font-size);
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
// html dom wrapper
:global {
  #app {
    display: flex;
    height: 100%;
    flex-direction: column;
    & .content-container {
      flex: 1;
      align-content: space-around;
      align-items: normal;
      display: flex;
      & .sidebar-control {
        width: 17rem;
      }
    }
  }
}