.header-bar-wrapper {
  display: flex;
  align-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding-left: 7.2rem;
  -webkit-app-region: drag;
  :global {
    .left-header {
      display: flex;
      align-items: center;
      -webkit-app-region: no-drag;
    }
    .right-header {
      width: 17.6rem;
    } 
  }
}

.history-wrapper {
  display: flex;
  align-content: space-between;
  align-items: center;
  width: 3.6rem;
  height: 1.3rem;
  margin-right: 2.1rem;
  & :nth-child(n) {
    flex: 1;
    text-align: center;
    font-size: 1.8rem;
    color: #b7b7b7;
  }
  & :first-child {
    margin-right: 1rem;
  }
}
