:root {
  --background-color: #222326;
  --main-font-color: #fff;
  --img-width: 5.2rem;
  --bar-parent-height: 2.8rem;
  --both-side-width: 17rem;
  --audio-bar-height: 2px;
}
.music-controller-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  height: var(--img-width);
  z-index: 100;
  background: var(--background-color);
  color: var(--main-font-color);
  :global {
    .music-photo {
      height: var(--img-width);
      width: var(--img-width);
      z-index: 10;
      background-color: gray;
    }
    .music-info {
      width: calc(var(--both-side-width) - var(--img-width));
      padding-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      & > :first-child {
        margin-bottom: 0.5rem;
      }
      & :nth-child(n) {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .song {
        font-size: 1.1rem;
        color: #666565;
      }
      .singer {
        font-size: 0.9rem;
        color: #a2a1a0;
      }
    }
    .music-right-controller {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: var(--both-side-width);
      font-size: 1.5rem;
      & > :nth-child(n) {
        margin-right: 2.5rem;
      }
      & > :last-child {
        margin-right: 0;
      }
      & .sound-control {
        min-height: 3px;
        width: 6rem;
        padding: 2px 0;
        text-align: right;
        & .sound-icon {
          cursor: pointer;
        }
        & .volume-bar-wrapper {
          padding: 1rem 0.3rem;
          & .volume-bar {
            width: 5rem;
            height: 4px;
            border-radius: 10px;
            overflow: hidden;
            background: var(--light);
            box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
            & .volume-fill {
              height: 100%;
              width: 100%;
              background: var(--red);
            }
          }
        }
      }
    }
    .music-bar-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; 
      & :nth-child(n) {
        font-size: 1.3rem;
      }
      .play-button {
        width: var(--bar-parent-height);
        height: var(--bar-parent-height);
        margin: 0 1.6rem;
        border-radius: 50%;
        text-align: center;
        background: var(--red);
        cursor: pointer;
        &::before {
          line-height: var(--bar-parent-height);
          font-size: 1.6rem;
          color: #fff;
        }
        // 原字体有问题。。。明显不对齐，强迫症犯了
        &.play {
          padding-left: 2px;
        }
      }
      & .icon-hook {
        padding: 0.3rem;
        cursor: pointer;
      }
    }
    .audio-bar-wrapper {
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: var(--img-width);
      right: 0;
      cursor: pointer;
      transition: all 0.1s linear;
      height: calc(var(--audio-bar-height) * 2);
      & .progress {
        position: relative;
        border-top: var(--audio-bar-height) solid var(--red);
        & .progress-button {
          display: block;
          position: absolute;
          top: -0.6rem;
          right: -0.6rem;
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          background: #fff;
          opacity: 0;
          transition: opacity 0.2s ease;
        }
      }
      &:hover & .progress {
        transform: scaleY(1.1);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.21);
          & .progress-button {
            opacity: 1
          }
        }
    }
  }
}