@import './default.css';
.banner {
  position: relative;
  width: 50%;
  min-width: 45rem;
  margin: auto;
  overflow: hidden;
  :global {
    .banner-anim-elem{
      height: inherit;
      .banner-item-bg {
        height: inherit;
      }
    }
  }
}